
    <%- include("partials/header.ejs") %>
    <div class="container">
        <h1 class="top">Work List</h1>
        
        <ul id="work-list">
            <% for(let i=0; i<newWorkItems.length; i++) { %>
                <li class="work-item">
                    <input type="checkbox" id="checkbox<%= i %>" class="checkbox">
                    <label for="checkbox<%= i %>"><%= newWorkItems[i] %></label>
                </li>
            <% } %>
            
            <form action="/workList" method="post">
                <input type="text" name="newItem2" class="input" placeholder="Add a new task">
                <button type="submit" class="add-button">Add</button>
            </form>
        </ul>
    </div>
    <%- include("partials/footer.ejs") %>
    <script>
        const checkboxes = document.querySelectorAll('.checkbox');
    
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                const label = checkbox.nextElementSibling;
                if (checkbox.checked) {
                    label.style.textDecoration = 'line-through';
                } else {
                    label.style.textDecoration = 'none';
                }
            });
        });
    </script>
    
     
  

